<!DOCTYPE html>
<html>
    <head>
        <title>About Page</title>
        <link rel = "icon" href = "/img/weather.jpg">
        <link rel="stylesheet" type="text/css" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site is created by Kushal.</p>
            <p>It uses data from mapbox.com and weatherbit.io</p>
            <img class="portrait" src="/img/weather.jpg">
        </div>
        
        <!--<h1>This is a picture of {{name}}</h1>-->
        <p>{{>footer}}</p>
    </body>
</html>