<!DOCTYPE html>
<html>
    <head>
        <title>Help Page</title>
        <link rel = "icon" href = "/img/weather.jpg">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{helpText}}<br/>
            Enter Your Location/City name to check weather of that address.
            </p>
        </div>
        <p>{{>footer}}</p>
    </body>
</html>
